{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="container col-sm-5 col-md-4 col-lg-3 col-xl-2">
  <div class="row">
    <img src="https://contents.mediadecathlon.com/p1419921/k$72b461620e3e5ec61db942355362dd66/pw-100-men-s-fitness-walking-shoes-grey.jpg?format=auto&f=300x300" alt="shoe">

  </div>
  <div class="row">
    <div class="col-6">Sports shoes</div>
    <div class="col-6">ksh 2000</div>
  </div>
  <div class="row">
    <div class="col-6 d-flex justify-content-around py-2">
      <i class="cursor-pointer fa fa-thumbs-up mr-3 d-inline-block" aria-hidden="true"></i>
      <i class="cursor-pointer fa fa-thumbs-down ml-3 d-inline-block" aria-hidden="true"></i>
    </div>
    <div class="col-6 btn btn-outline-success">Buy</div>
  </div>
</div>
</div>
{% endblock content %}
